<section>
<app-banner [imagemUrl]="bannerImagemUrl" [text]="bannerTexto">

</app-banner>
    
<div>
    <table>
        <thead>
        <th>#</th>
        <th>Titulo</th>
        <th>Artista</th>
        <th>Album</th>
        <th>tempo</th>
        </thead>
        <tbody>
        <tr *ngFor="let musica of musicas"
        (click)="executarMusica(musica)"
        [class.executando]="musica.id === musicaAtual.id"
        >
        
        <td><fa-icon [icon]="playIcone"></fa-icon></td>
        <td>{{musica.titulo}}</td>
        <td>{{ obterArtistas(musica) }}</td>
        <td>{{musica.album.nome}}</td>
        <td>{{musica.tempo}}</td>
        </tr>
        </tbody>
    </table>
</div>
</section>
<aside>
<app-painel-Direito></app-painel-Direito>
</aside>