$cor-fundo: #fbfef4;
$cor-primaria:#580685;
$cor-secundaria:#0a132c;
$cor-neutra:#5F5F5F;
$cor-contraste:#fff;
$cor-sucesso:#4CBB51;
$cor-falha:#E26352;

$logo-principal: url('./imagens/logoKtips.png');
$border:1px solid $cor-contraste;
$border-radius: 13px;